.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #111;
   color: white;
}

.footer p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

#icons{
  font-size: 25px;
  display: flex;
  justify-content: center;
}
#icons > *{
  margin: 0 5px;
}

.footer a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.footer a:hover{
  color:#ccc;
}
