html,body {
	font-size: 1em;
	line-height: 1.2em;
  font-family: 'Montserrat', sans-serif;;
	background: #f8f8f8;
	color: #555;
  margin:0;
  padding:0;
	height: 100%;
	width: 100%;
}

nav {
  text-align: center;
  background-color: #ddd;
  margin:0 0;
  width:100%;
}

ul {
  width:80%;
  padding: 0;
  margin:0 auto;
}

li {
  box-sizing: border-box;
  list-style: none;
	display: inline-block;
	padding: 15px 20px;
  margin:0px;
}

ul li a {
	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #444;
}
li:hover{
  border-bottom: : 1px solid #bbb;
}

.toggle{
  background-color:#bbb;
  width:100%;
  padding: 5px 0px;
  text-align: right;
  display: none;
}

.menu{
  font-size:20px;
  margin: 10px 15px;
}

.menu:hover{
  cursor: pointer;
}

@media only screen and (max-width : 640px) {

  .toggle{
    display:block;
  }
  ul{
    display: none;
    width:100%;
  }
  ul li{
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  .active{
    display: block;
  }

}
